# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/
npm-debug.log

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SSH Keys
*.pem

# Python virtual environment
backend/myenv/

# Node lock file
frontend/package-lock.jsons